{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "comma-dangle": [0],
        "no-unused-vars": [1],
        "no-console": [1]
    }
}
