<!doctype html>
<html>
<head>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>

    <!-- test buttons. remove it later -->
<button onclick="test()" style="position:fixed">Test</button>

<button onclick="load('cat')" style="position:fixed;left:200px">show cat</button>
<button onclick="load('milk')" style="position:fixed;left:260px">show milk</button>
<button onclick="load('other')" style="position:fixed;left:260px">show other</button>
<!-- / test buttons -->


<div id="d3">
</div>


<script>
//TODO replace mock with real data
var data = {
    name: 'Animals',
    children: [
        {
            name: 'Mammals',
            children: [
                {name: "People"},
                {name: "Monkeys"},
                {name: "Rabbits"}
            ]
        },
        {
            name: 'Birds'
        },
    ]
};

var data1 = {
    name: 'Animals',
    children: [
        {
            name: 'Mammals',
            children: [
                {name: "People"},
                {name: "Dogs"},
                {name: "Monkeys"},
                {name: "Rabbits"}
            ]
        },
        {
            name: 'Birds',
            children: {
                name: "Owl"
            }
        },
    ]
};




var outerContainer = d3.select("#d3").append("svg")
    .style("width", "700px")
    .style("height", "800px");

var container = outerContainer.append("g")
    .attr("transform", "translate(0,100)");


function addZoom (sel) {
    var zoom = d3.behavior.zoom().scaleExtent([0, 3])
    .on('zoom', onZoom);

    function onZoom () {
        console.log(d3.event.scale)
        var t = 'translate(' +  d3.event.translate +  ' ) scale(' +  d3.event.scale +  ' )';
        container.attr('transform', t)
    }

    zoom(sel);
}

var counter = 0;

function getOptionalOffset(offset) {
    return counter++ % 2 == 0? 0: offset;
}

function update (data) {
    //TODO this assumes one level of nesting
    var childrenCount = data.children.length;
    console.log(childrenCount);
    var tree = d3.layout.tree().size([90 * childrenCount,200])

    var nodes = tree.nodes(data);//.reverse();


    var texts = container.selectAll("text")
        .data(nodes);

    texts.enter()
    .append("text")
        .text(function (d) { return d.name })
        // TODO don't break DRY
        .attr("x", function (d) {
            return d.x;
        })
        .attr("y", function (d) {
            return d.y + getOptionalOffset(20);
        })

        texts.exit().remove();

        texts.attr("x", function (d) {
                    // TODO don't break DRY
                        return d.x;
                    })
                    .attr("y", function (d) {
                        return d.y + getOptionalOffset(20);
                    })


    var paths = container.selectAll("path")
            .data(tree.links(nodes));


    paths.enter()
    .append("path")
    .attr("fill", "none")
    .attr("stroke", "black")
    .attr("d", d3.svg.diagonal())

    paths.exit().remove();

    paths.attr("d", d3.svg.diagonal());
    addZoom(outerContainer);
}



function test () {
    data1.children[0].children.push({
        name: "Cats"
    })
    update(data1)
}

function load (name) {
    function getNode(data, name) {
        var key = '../src/mocks/commonJS/' + name + '.js';
        return data[key];
    }

    d3.json('data.json', function (d) {
        var root = d.root;//getNode(d,name);
        update(root);
    });
}


load('milk');


//update(data);

</script>
</body>

</html>
