+aaa

div
  background: red

@mixin col2-small-font
  width: 40%
  font-size: 8px


@mixin colorize($color)
  color: $color
  border: 1px solid $color

  div + span
    color: white
    + label
      color: blue



   @mixin     Blah-blah
     background: black
     color: white
     @include some-mixin(#aaa)
     +some-other

@mixin underscore_mixin
  @include underscore_include



  div
    @include some-mixin(#aaa)

    @include col1-small-font


