

div
  background: red

@mixin col2-small-font
  width: 40%
  font-size: 8px


@mixin colorize($color)
  color: $color
  border: 1px solid $color

  width: .13px

  background: url('http://example.com/a.png')

  .some-class
    border: 1px solid green

  div + span
    color: white
    p > .some-class
      color: blue
    + label
      color: blue


  // commented
  // .not-here

  //@mixin dont-show
  //  color: red

@mixin     Blah-blah
  background: black
  color: white
  @include some-mixin(#aaa)
  +some-other
  .underscore_class
    color: green

  .number123
    color: green


@mixin underscore_mixin
  @include underscore_include

  .some-class
    color: red



  div
    @include some-mixin(#aaa)

    @include col1-small-font


